@charset "utf-8";
/* CSS 301122_20 */
body{
	background: white;
	background-attachment: fixed;
	background-repeat:repeat; 
}
.altoCabecera1{
	height:25px;
}
.fondoCabecera{
	background-color:#fff;
	height:80px;
}
.bordecabecera{
	border-radius:20px;
}